.form-group label {
    width:250px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.container-fluid{
    background: #49659f;
    margin-bottom: 10px; 
}
.form-group input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    color: white;
    background-color:#49659f; 
}
input {
    padding: 5px;
}
select {
    -webkit-appearance: button;
    text-transform: uppercase;
    width: 220px;
    height: 30px;
    text-align: center;
    padding: 5px;
}
body {
    background-color: #e1e5ef;
}
#howToUseApp {
    background: #ebedf4;
    padding-left: 10px;
}